{% extends 'base.html.twig' %}

{% block title %}New PokemonExistant{% endblock %}

{% block body %}
    <h1>Create new PokemonExistant</h1>

    {{ include('pokemon_existant/_form.html.twig') }}

    <a href="{{ path('pokemon_existant_index') }}">back to list</a>
{% endblock %}
